*{
  margin: 0px;
  padding: 0px;
}
#searchbar{
  display: flex;
  background-color: white;
  height: 40px;
  padding: 20px;
  justify-content: center;
}
#searchbar input{
  padding: 10px;
  width: 290px;
}
#searchbar button{
  font-size: 15px;
  background-color: rgb(30,25,77);
  color: white;
  border: none;
  cursor: pointer;
  width: 200px;
}

body{
  background-color: rgb(30,25,77);
}

#content{
  display: flex;
  width: 750px;
  justify-self: center;
  margin: auto;
  flex-direction: column;
  align-self: center;
  margin-top: 50px;
  border-radius: 10px;
  gap:20px;
  padding: 20px;
  height: 290px;
  align-items: center;

}
#content h1{
  font-size: 20px;
}

#content>div{
  display: flex;
  flex-direction:row;
  align-items: center;
  gap: 10px;
}

#content div div{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#content p,#content h1{
  background-color: rgb(93,72,232);
  color: white;
  border-radius: 5px;
  padding: 10px;
}

#content img{
  width: 200px;
  border-radius: 50px;
  
}

#content{
  display: none;
}