.todo{
  background-color: rgb(36,39,61);
  width: 250px;
  color: white;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 150px;
 }

 .todo button{
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: rgb(52,34,168);
  color: white;
 }
 *{
  font-size: 17px;
 }

 button{
  cursor: pointer;
 }

body{
  background-image: linear-gradient(rgb(102,25,124) , rgb(23,23,35));
  min-height: 100vh;

}

input,button{
  border: none;
  outline: none;
  padding: 2px;
  font-size: 17px;
} 

#addTodo{
  background-color: white;
  width: 350px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  border-radius: 10px;
  justify-self: center;
  margin: auto;
  padding: 20px;
  margin-top: 100px;
}

#addTodo button{
  background-color: rgb(102,25,124) ;
  color: white;
  width: 120px;
  height: 40px;
  border-radius: 10px;
}

#todoContainer{
  display: grid;
  grid-template-columns: 300px 300px 300px;
  justify-content: center;
  padding: 40px;
  gap: 20px;
}

#todoContainer div{
  padding: 20px;
}

#todoContainer button{
  background-color: rgb(52,37,172);
  padding: 10px;
}